header{
    text-align: center;
    padding: 10px;
    padding-bottom: 40px;
}
a{
    text-decoration: none;
    color:inherit;
}
.navItem{
    display: inline-block;
    margin:auto;
    padding:5px;
}
body{
    color: rgb(1, 228, 228);
    /* color:#00ecf0; */
    background-color: rgb(9, 9, 37);
    /* font-family: sans-serif; */
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}
.textContent{
    text-align: center;
}
.infoBlock{
    padding-bottom: 100px;
    text-align: center;
}
#hi{
    text-shadow: 4px 3px rgb(0, 85, 85);
}
.cyanText{
    color: rgb(1, 228, 228);
}
.whiteText{
    color: white;
}
.button{
    background-color: rgb(9, 9, 37);
    border-color: rgb(1, 228, 228);
    border-radius: 25px;
    color:rgb(1, 228, 228);
    padding: 10px 20px;
    text-align: center;
}


#technologies{
    color: white;
    word-spacing: 10px;
    padding-top: 40px;
    font-size: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 10px;
    justify-content: center;
}
ul, li{
    margin: 0;
    padding: 0;
}
#italicLine{
    font-style: italic;
}
#techUsed{
    color: white;
    font-weight: bold;
}
#projectTitle{
    color: whitesmoke;
    font-weight:bold;
    /* text-transform:uppercase; */
    text-transform:capitalize;
}
#screenShot{
    width:300px;
}
#projectNav{
    padding:10px;
}
.projNavButton{
    background-color: rgb(9, 9, 37);
    border-color: rgb(1, 228, 228);
    border-radius:20%;
    width: 30px;
    color:white;
}
#gHL{
    color: white;
    font-style: italic;
    text-decoration: underline;
}
.formInput{
    color: white ;
    background-color: rgb(9, 9, 37);
    border-color: aqua;
    border-style: dotted;
    border-width: thin;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
label{
    float: left;
}
#message{
    height: 100px;
}

/*desktop width*/
@media only screen and (min-width:400px){
    #bodyWidth{
        width:60%;
        max-width: 800px;
        margin: auto;
    }
    .infoBlock{
        padding-bottom: 300px;
    }
    h1{
      font-size: 50px;
    }
}